In [ ]:
#import da biblioteca
import pandas as pd

In [ ]:
#Importando Dataset
df = pd.read_csv("/content/drive/MyDrive/Data-sets/vgsales.csv")

In [ ]:
#Primeira leitura do dataset
df

In [ ]:
#Padronizando as Colunas em Portugues
df = df.rename(columns={"Rank":"Classificacao","Name":"Nome","Platform":"Video Game","Year":"Ano","Genre":"Genero","Publisher":"Studio","NA_Sales":"Vendas NA","EU_Sales":"Vendas EU","JP_Sales":"Vendas JP","Other_Sales":"Outras Vendas","Global_Sales":"Vendas Globais"})

In [ ]:
#Leitura da dataset com nova padronizacao
df

In [ ]:
#Total de linhas e colunas
df.shape

(16598, 11)

In [ ]:
#Colunas do Dataset
df.columns

Index(['Classificacao', 'Nome', 'Video Game', 'Ano', 'Genero', 'Studio',
       'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras Vendas',
       'Vendas Globais'],
      dtype='object')

In [ ]:
#Tipos de dados
df.dtypes

Classificacao       int64
Nome               object
Video Game         object
Ano               float64
Genero             object
Studio             object
Vendas NA         float64
Vendas EU         float64
Vendas JP         float64
Outras Vendas     float64
Vendas Globais    float64
dtype: object

In [ ]:
# Ultimas linhas dos dados
df.tail()

,Classificacao,Nome,Video Game,Ano,Genero,Studio,Vendas NA,Vendas EU,Vendas JP,Outras Vendas,Vendas Globais
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [ ]:
# Informacoes estatisticas
df.describe()

,Classificacao,Ano,Vendas NA,Vendas EU,Vendas JP,Outras Vendas,Vendas Globais
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
# Apenas os Console
df["Video Game"].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
# Filtro aplicado no Video Game PS2
PS2 = df.loc[df["Video Game"] == "PS2"]
PS2

,Classificacao,Nome,Video Game,Ano,Genero,Studio,Vendas NA,Vendas EU,Vendas JP,Outras Vendas,Vendas Globais
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16559,16562,Sugar + Spice! Anoko no Suteki na Nanimokamo,PS2,2008.0,Adventure,Alchemist,0.00,0.00,0.01,0.00,0.01
16561,16564,Kanokon: Esuii,PS2,2008.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
16572,16575,Scarlett: Nichijou no Kyoukaisen,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [ ]:
# Filtro de jogos da Electronic Arts
electronicArts = df.loc[df["Studio"] == "Electronic Arts"]
electronicArts

,Classificacao,Nome,Video Game,Ano,Genero,Studio,Vendas NA,Vendas EU,Vendas JP,Outras Vendas,Vendas Globais
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
92,93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67
99,100,Battlefield 3,X360,2011.0,Shooter,Electronic Arts,4.46,2.13,0.06,0.69,7.34
...,...,...,...,...,...,...,...,...,...,...,...
16339,16342,Command & Conquer Renegade,PC,2002.0,Shooter,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16384,16387,Poker for Dummies,PC,2008.0,Misc,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16413,16416,The Godfather (JP sales),X360,2006.0,Action,Electronic Arts,0.00,0.00,0.01,0.00,0.01
16539,16542,Spore Galactic Adventures,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16554,16557,Psychic Detective,PS,1995.0,Adventure,Electronic Arts,0.01,0.00,0.00,0.00,0.01

In [ ]:
# Quantos jogos por video Game
df.groupby("Video Game")["Nome"].nunique()

Video Game
2600     133
3DO        3
3DS      509
DC        52
DS      2163
GB        98
GBA      822
GC       556
GEN       27
GG         1
N64      319
NES       98
NG        12
PC       959
PCFX       1
PS      1196
PS2     2161
PS3     1327
PS4      336
PSP     1213
PSV      413
SAT      173
SCD        6
SNES     239
TG16       2
WS         6
Wii     1324
WiiU     143
X360    1264
XB       824
XOne     213
Name: Nome, dtype: int64

In [ ]:
df["Vendas Globais"].mean()

0.5374406555006628

In [ ]:
df["Vendas Globais"].sum()

8920.44